{
  "name": "{{ project_slug }}",
  "image": "mcr.microsoft.com/devcontainers/base:ubuntu-24.04",
  "features": {
    "ghcr.io/devcontainers/features/common-utils:2": {},
    "ghcr.io/devcontainers/features/github-cli:1": {},
    "ghcr.io/devcontainers/features/node:1": {},
    "ghcr.io/devcontainers/features/python:1": {}
  },
  "postCreateCommand": "python3 -m pip install --user copier git-cliff && curl --proto '=https' --tlsv1.2 -sSfL https://just.systems/install.sh | sudo bash -s -- --to /usr/local/bin",
  "customizations": {
    "vscode": {
      "extensions": [
        "editorconfig.editorconfig",
        "github.vscode-github-actions",
        "redhat.vscode-yaml"
      ]
    }
  }
}
